@import url('https://fonts.googleapis.com/css2?family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';

@layer base {
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	html,
	body {
		@apply bg-slate-900 text-slate-300;
	}

    .rokkitt-font {
        font-family: 'Rokkitt', serif;
        font-optical-sizing: auto;
        font-style: normal;
    }
	.rokkitt-font-light {
		font-family: 'Rokkitt', serif;
		font-optical-sizing: auto;
        font-weight: 300;
		font-style: normal;
	}
    .rokkitt-font-regular {
        font-family: 'Rokkitt', serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }
}

@layer components {
}
